:root {
    --clr-bg: rgba(240, 219, 211, 1);
    --clr-p1: rgba(187, 194, 239, 1);
    --clr-p2: rgba(112, 119, 164, 1);
    --clr-g1: rgba(194, 240, 163, 1);
    --clr-g2: rgba(100, 163, 55, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-element {
    /* transform: scale(.8); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.day1 {
    grid-area: day-1;
}

.day2 {
    margin: auto 3em;
    text-align: center;
    grid-area: day-2;
}

.day3 {
    grid-area: day-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day4 {
    grid-area: day-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day5 {
    grid-area: day-5;
}

#message {
    margin: 4px;
    opacity: 88%;
}

#warning {
    margin: 2px;
    opacity: 88%;
}

#req1 {
    margin: 2px;
    color: var(--clr-p2);
    opacity: 88%;
}

#req2 {
    margin: 2px;
    color: var(--clr-p2);
    opacity: 88%;
}

.day6 {
    margin: auto 3em;
    grid-area: day-6;
}

.day7 {
    grid-area: day-7;
}

.day8 {
    grid-area: day-8;
}

.day9 {
    grid-area: day-9;
}

.day10 {
    grid-area: day-10;
}

.day11 {
    grid-area: day-11;
}

.day12 {
    grid-area: day-12;
}

.grid-box {
    /* border: 5px solid black; */
    height: 98%;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
    grid-template-areas:
        "day-1 day-2 day-3 day-4"
        "day-5 day-6 day-7 day-8"
        "day-9 day-10 day-11 day-12";
}

.custom-btn {
    margin: 20px;
    width: auto;
    height: 40px;
    color: #010101;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: var(--clr-g2);
    background: linear-gradient(0deg, var(--clr-g2) 0%, var(--clr-g1) 100%);
    border: none;
}

.btn-1:hover {
    background: var(--clr-g1);
    background: linear-gradient(0deg, var(--clr-g1) 0%, var(--clr-g2) 100%);
}

.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.btn-12 span {
    background: var(--clr-p1);
    background: linear-gradient(0deg, var(--clr-p1) 0%, var(--clr-p2) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.btn-7 {
    background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 50%;
}

.btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-7:before,
.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-7:before {
    height: 0%;
    width: 2px;
}

.btn-7:after {
    width: 0%;
    height: 2px;
}

.btn-7:hover {
    color: rgba(251, 75, 2, 1);
    background: transparent;
}

.btn-7:hover:before {
    height: 100%;
}

.btn-7:hover:after {
    width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251, 75, 2, 1);
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.btn-7 span:before {
    width: 2px;
    height: 0%;
}

.btn-7 span:after {
    height: 2px;
    width: 0%;
}

.btn-7 span:hover:before {
    height: 100%;
}

.btn-7 span:hover:after {
    width: 100%;
}

.btn-6 {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    width: 50%;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}

.form {
    font-size: 14px;
    /*     align-items: center; */
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    color: black;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid;
    margin: 16px 0px 8px 0px;
}

.form input {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 14px;
    /* padding-top: 20px; */
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
}

.form label {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: cneter;
}

/* .form label::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0px;
      height: 100%;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
  } */

.content-name {
    width: 100%;
    position: absolute;
    transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateY(-100%);
    font-size: 14px;
    opacity: 0;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateY(0%);
}